/* Exercício 14 */
#pond {
  display: flex;
}

.yellow {
  order: 1;
}

/* Exercício 15 */
#pond {
  display: flex;
}

.red {
  order: -3;
}

/* Exercício 16 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
  align-self: flex-end;
}

/* Exercício 17 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
  order: 2;
  align-self: flex-end;
}

/* Exercício 18 */
#pond {
  display: flex;
  flex-wrap: wrap
}

/* Exercício 19 */
#pond {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Exercício 20 */
#pond {
  display: flex;
  flex-flow: column wrap;
}

/* Exercício 21 */
#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Exercício 22 */
#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

/* Exercício 23 */
#pond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}

/* Exercício 24 */
#pond {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  justify-content: center;
  align-content: space-between;