/* Exercício 10 */
.tower-group-1 {
  display: flex;
  justify-content: space-around;
}

.tower-1-2 {
  order: 1;
}

.tower-group-2 {
  display: flex;
  justify-content: space-around;
}

.tower-2-2 {
  order: -1;
}


/* Exercício 11 */
.torre-grupo-1 {
  display: flex;
  justify-content: space-between;
}

.torre-1-1 {
  align-self: flex-end;
}

.torre-1-2 {
  align-self: flex-start;
}

.torre-1-3 {
  align-self: flex-end;
}

.torre-1-4 {
  align-self: center;
}


/* Exercício 12 */
.tower-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tower-1-1 {
  align-self:   flex-start;
  order: 1;
}

.tower-1-2 {
  order: 2;
}

.tower-1-3 {
  order: 4;
}

.tower-1-4 {
  order: 3;
}

.tower-1-5 {
  align-self: flex-end;
  order: 5;
}