* {
  margin: 0;
  padding: 0;
}

:root {
  --soap-color: #E0CAED;
  --pale-pink: #8B807E;
  --pale-blue: #B0C7ED;
  --powder-blue: #B8E1ED;
}

body {
  background-color: var(--powder-blue);
  color: black;
  font-family: 'Commissioner', sans-serif;
}

.header {
  background-color: var(--pale-blue);
  color: white;
  margin-bottom: 80px;
}

.title-container {
  text-align: center;
  padding: 16px;
}

.navigation {
  border-top: 2px solid var(--powder-blue);
  padding: 20px;
}

.navigation ul {
  text-align: center;
}

.navigation li  {
  list-style-type: none ;
  display: inline-block;
}

.navigation li + li {
  margin-left: 40px;
}

.navigation li a {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 850px;
  margin: auto;
}

.article h2 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 15px;
}

.article img {
  width: 100%;
  margin-bottom: 20px;
  clear: both;
}

.info-content {
  float: left;
  width: 57%;
  margin-bottom: 30px;
  text-align: justify;
}

.info-content p + p {
  margin-top: 15px;
}

.table {
  float: right;
  width: 30%;
  background-color: var(--soap-color);
  border-radius: 5px;
  text-align: center;
  color: white;
}

.table td {
  padding: 3px;
}

.curiosities {
  clear: both;
}

.curiosities h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.curiosities img {
  width: 100%;
  margin-bottom: 20px;
}

.curiosities p {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 25px;
}

.references {
  text-align: justify;
}

.references h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}

.references ul {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 50px;
}

.references li + li {
  margin: 5px 0;
  text-align: justify;
}

.references a {
  text-decoration: none;
  color: var(--pale-pink);
}

.references a:hover {
  font-size: 22px;
  color: white;
}

.side-bar {
  background-color: var(--soap-color);
  border-radius: 5px;
  margin-top: 80px;
  text-align: center;
  position: absolute;
  bottom: -520px;
  right: 200px;
  height: 100px;
}

.side-bar nav {
  padding: 18px;
}

.side-bar a {
  color: var(--pale-pink);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.side-bar a:hover {
  text-transform: uppercase;
  color: white;
}

.footer {
  background-color: var(--pale-blue);
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 32px;
}